extends layout

block content
    .container
        .row.content
            .span6.offset3.msgbox
                ul.msgbox
                    li.span1
                        完成
                    li.span2
                        標題
                    li.span1
                        期限
                    li.span1
                        刪除
                ul.span6.alert-success.msgbox
                    li.span1
                        input#chkbox0(type="checkbox",value="1",onclick ="a();")
                    li.span2
                        span#ft0
                            Eat breakfast！
                    li.span1
                        a.btn.btn-success(href="/page")
                            過期
                    li.span1
                        a(href="/page")
                            img(src="/images/delete.png")
                ul.span6.alert-info.msgbox
                    li.span1
                        input(type="checkbox")
                    li.span2
                            早點睡！
                    li.span1
                        a.btn.btn-warning(href="/login")
                            無限
                    li.span1
                        a(href="/page")
                            img(src="/images/delete.png")
                                
    .navbar.navbar-fixed-bottom
        .navbar-inner.bar2
            .container
                .span6.offset4.msgbox
                    input(type="text",class="msgbox2",placeholder="新增待辦事項")
                    a.btn.btn-primary(href="/page")
                        i.icon-plus.icon-white
