extends layout

block content
    .container
        .row.content
            .span6.offset3
                table.table.table-hover.list-font
                    thead
                        tr
                            th
                                    完成
                            th
                                    標題
                            th
                                    所有清單(20)
                            th
                                    到期日
                    tbody
                        tr.success
                            td
                                input(type="checkbox")
                            td
                                Eat breakfast！
                            td
                                    去丹丹漢堡早餐約會！
                            td
                                a.btn.btn-success(href="/page")
                                    已過期
                        tr.info
                            td
                                input(type="checkbox")
                            td
                                    早點睡！
                            td
                                    今天早點睡明天才有精神拼命！
                            td
                                a.btn.btn-warning(href="/login")
                                    無期限
    .navbar.navbar-fixed-bottom
        .navbar-inner.bar2
            .container
                .span6.offset4.msgbox
                    input(type="text",class="msgbox2",placeholder="新增待辦事項")
                    a.btn.btn-primary(href="/page")
                        i.icon-plus.icon-white
