.navbar.navbar-fixed-top
    .navbar-inner
        .span6.offset4.msgbox
            ul.nav
                li.dropdown: a.dropdown-toggle(data-toggle="dropdown",href="#")
                    選單
                    b.caret
                    ul.dropdown-menu
                        li
                            a(href="/")
                                    清單
                        li
                            a(href="#")
                                    已完成
                        li
                            a(href="#")
                                    刪除
