!!!
html
    head
        title Just Do It!
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        meta(http-equiv="content-type",content="text/html;charset=utf-8")
        link(href="stylesheets/bootstrap.css",rel="stylesheet",type="text/css")
        link(href="stylesheets/bootstrap-responsive.css",rel="stylesheet",type="text/css")
        link(href="stylesheets/todolist.css",rel="stylesheet",type="text/css")
        script(src="javascripts/jquery-1.7.2.js")
        script(src="javascripts/bootstrap.js")
        script(src="javascripts/todolist_app.js")
    body
        .navbar.navbar-fixed-top
            .navbar-inner
                .span6.offset4.msgbox
                    ul.nav
                        li.dropdown: a.dropdown-toggle(data-toggle="dropdown",href="#")
                            選單
                            b.caret
                            ul.dropdown-menu
                                li
                                    a(href="#")
                                            清單
                                li
                                    a(href="#")
                                            已完成
                                li
                                    a(href="#")
                                            刪除
        .container
            .row.content
                .span6.offset3
                    table.table.table-hover.list-font
                        thead
                            tr
                                th
                                        完成
                                th
                                        標題
                                th
                                        所有清單(20)
                                th
                                        到期日
                        tbody
                            tr.success
                                td
                                    input(type="checkbox")
                                td
                                    Eat breakfast！
                                td
                                        去丹丹漢堡早餐約會！
                                td
                                    a.btn.btn-success(href="./page")
                                        已過期
                            tr.info
                                td
                                    input(type="checkbox")
                                td
                                        早點睡！
                                td
                                        今天早點睡明天才有精神拼命！
                                td
                                    a.btn.btn-warning(href="./page2")
                                        無期限
        .navbar.navbar-fixed-bottom
            .navbar-inner.bar2
                .container
                    .span6.offset4.msgbox
                        input(type="text",class="msgbox2",placeholder="新增待辦事項")
                        a.btn.btn-primary(href="#")
                            i.icon-plus.icon-white
